/**
 * Place your custom styles here.
 */
ul.nav-tabs {
	margin-bottom: 20px;	
}
.field {
	margin-bottom: 20px;
}
.field .field--label {
	font-size: 1.5em;
	font-weight: bold;
}
.content section h2 {
	font-size: 1.8em;
	border-top: 15px solid #e5f0f3;
	padding-top: 20px;
	margin-top: 40px;
}
.content section article.js-comment {
	border: 1px solid #eee;
	border-left: 0;
	border-right: 0;
	padding: 15px 0;
}
.content section article.js-comment footer {
	background-color: #FFFBD6;
	padding: 4px 0;
}
.content section article.js-comment footer p {
	display: inline;
}
footer.footer {
	padding-left: 0;
}
footer.footer nav li a {
	padding-left: 0;
}

.sanbi-form-wrapper h2 {
	padding: 15px 0px; 
	text-align: center;
	margin: 0px 0 10px 0;
	background-color: rgb(246, 239, 203);
}
#node-species-form #edit-actions {
	border-top: 15px solid rgb(119, 119, 119);
	padding-top: 20px;
	margin-top: 30px;
}
#edit-actions button {
	margin-right: 5px;	
}
.species-info-group {
	border-top: 1px solid rgb(227, 227, 227);
	padding: 20px 0 10px 0;
}
.species-info-group:hover {
	background-color: rgb(255, 244, 218);
}
.page-node-type-species h1.page-header {
	margin: 25px 0 25px 0;
}
.page-node-type-species .field--name-field-sensitivity {
	padding: 20px;
	border: 1px solid #d43f3a;
	border-radius: 10px;
	background-color: #d9534f;
	color: white;
	font-weight: bold;
	margin: -5px 20px 20px 0px;
}
.field--name-field-sensitivity .field--name-field-similar-species {	
	background-color: #ffc4c4;
	padding: 3px;
	display: inline;
	border-radius: 3px;
}
.field--name-field-similar-species .field--label {
	font-size: 1em;
}
.field--name-field-sensitivity .field--name-field-similar-species .field--item {
	display: inline;
	padding-right: 0;
}
.field--name-field-exploit-extent-references .field--label,
.field--name-field-uses-references .field--label,
.field--name-field-tds-references .field--label,
.field--name-field-pop-size-references .field--label {
	font-size: 1.1em;	
}

.path-user .form-item h4.label {
	color: #8c8c8c;	
}